<header>
    <div class="header-style">
        <div {% if isConnected %} class="hidden" {% endif %} class="logo-container">
            <img src="/assets/images/logo-respawn-shop-blanc.png" alt="logo respawn shop">
        </div>
        {% if isConnected %}
        <div class="header-connect">
            <div class="logo-container-connected">
                <img src="/assets/images/logo-respawn-shop-blanc.png" alt="logo respawn shop">
            </div>
            <div class="search-bar">
                <input type="text" id="search-input">
                <button type="submit" id="search-button">
                    <img src="/assets/images/search-loupe-rs.png" alt="logo loupe">
                </button>
            </div>
            <div class="link-profil">
                <img src="/assets/images/face-perso-rs.png" alt="image lien vers profil">
            </div>
        </div>
        {% endif %}
        
    </div>
</header>