
{% if isConnected %}
    <div>
        <div class="nav-style">
            <nav class="nav-container">
                <a href="/">
                    <img src="/assets/images/home-rs.png" alt="menu home, pages principales">
                </a>
                <a href="/like">
                    <img src="/assets/images/like-hearts-rs.png" alt="Cœurs, vos favoris">
                </a>
                <a href="/sell">
                    <img src="/assets/images/add-rs.png" alt="plus, ajout d'annonce">
                </a>
                <a href="">
                    <img src="/assets/images/chat-bull-rs.png" alt="logo message, discussion avec les contacts">
                </a>
                <a href="/param">
                    <img src="/assets/images/param-engrnage-rs.png" alt="logo planete, forum">
                </a>
            </nav>
        </div>
    </div>
{% endif %}
