{% extends "/layout/base.html.twig" %}
{% block style %}
    <link rel="stylesheet" href="/assets/css/conversation.css">
{% endblock %}
{% block main %}
    <main>
        <section class="messages-list" id="messagesList">
            {% for message in messages %}
                <div class="message-container {% if message.senderId == sessionUserId %} my-message {% else %} other-message {% endif %}">
                    <div class="message-text">
                        <p>{{ message.text }}</p>
                    </div>
                    <div class="message-date">
                        <p>{{ message.date|date('H:i') }}</p>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}