{% extends "/layout/base.html.twig" %}
{% block style %}
    <link rel="stylesheet" href="/assets/css/password.css">
{% endblock %}
{% block main %}
    <main>
        <section>
            <form action="/updatepassword/{{user.id}}" method="post">
                <div class="old-password">
                    <label for="oldPassword">Votre mot de passe actuel</label>
                    <input type="text" id="oldPassword" name="oldPassword" required>
                </div>
                <div class="new-password">
                    <label for="newPassword">Nouveau mot de passe</label>
                    <input type="text" id="newPassword" name="newPassword" required>
                </div>
                <div class="confirm-password">
                    <label for="confirmPassword">Confirmer le nouveau mot de passe</label>
                    <input type="text" id="confirmPassword" name="confirmPassword" required>
                </div>
                <div>
                    <button type="submit">Confirmer</button>
                </div>
            </form>
        </section>
    </main>
{% endblock %}