<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Boutique geek et gaming d'article d'occasion entre particuliers">
    <meta name="keywords" content="respawn, shop, boutique, gaming, geek, figurines, media, goodies, console, high tech, fantaisie, sf, collection, lego, occasion">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Chloé Pieront à RI7">
    <meta name="copyright" content="© 2025 Respawn Shop">
    {% block title %}
        <title>Respawn Shop</title>
    {% endblock %}
        <link rel="stylesheet" href="/assets/css/header.css">
        
        <link rel="stylesheet" href="/assets/css/nav.css">
    {% block style %}
    {% endblock %}
</head>
<body>
    {% include "../partials/header.html.twig" %}
    <main>
        {% block main %}

        {% endblock %}
        {% include "../partials/nav.html.twig" %}
    </main>
  
    {% include "../partials/footer.html.twig" %}
    {% block script %}
        <script src="/assets/js/main.js"></script>
    {% endblock %}
</body>
</html>