<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Respawn Shop</title>
    {% endblock %}
        <link rel="stylesheet" href="/assets/css/header.css">
        
        <link rel="stylesheet" href="/assets/css/nav.css">
    {% block style %}
    {% endblock %}
</head>
<body>
    {% include "../partials/header.html.twig" %}
    <main>
        {% block main %}

        {% endblock %}
        {% include "../partials/nav.html.twig" %}
    </main>
  
    {% include "../partials/footer.html.twig" %}
    {% block script %}
        <script src="/assets/js/main.js"></script>
    {% endblock %}
</body>
</html>